@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 767px) {
    #featureContainer .carousel-inner .carousel-item>div {
        display: none;
    }
    #featureContainer .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

#featureContainer .carousel-inner .carousel-item.active,
#featureContainer .carousel-inner .carousel-item-next,
#featureContainer .carousel-inner .carousel-item-prev {
    display: flex;
}


/* medium and up screens */

@media (min-width: 768px) {
    #featureContainer .carousel-inner .carousel-item-end.active,
    #featureContainer .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    #featureContainer .carousel-inner .carousel-item-start.active,
    #featureContainer .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
    #featureContainer .card img {
        width: 150vh;
        height: 80vh;
    }
    #featureContainer .carousel-item {
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    #featureContainer .card img {
        width: 100%;
        height: 100%;
    }
}

#featureContainer .carousel-inner .carousel-item-end,
#featureContainer .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

#featureContainer .card {
    border: 0;
}

#featureContainer .card {
    position: relative;
}

#featureContainer .card .card-img-overlays {
    position: absolute;
    bottom: 15%;
    left: 10%;
}

#featureContainer a {
    text-decoration: none;
}

#featureContainer .indicator {
    border: 1px solid rgb(202, 202, 202);
    padding: 3px 6px 3px 6px;
}

#featureContainer .indicator:hover {
    background-color: blue;
    border: 1px solid blue;
    transition: 200ms;
}

#featureContainer .indicator:hover {
    color: white;
    transition: 200ms;
}

#featureContainer .indicator {
    color: lightgray;
}

#featureContainer .float-end {
    padding-top: 10px;
}


/* ------carousel2---------------------------- */

@media (max-width: 767px) {
    #featureContainer2 .carousel-inner .carousel-item>div {
        display: none;
    }
    #featureContainer2 .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

#featureContainer2 .carousel-inner .carousel-item.active,
#featureContainer2 .carousel-inner .carousel-item-next,
#featureContainer2 .carousel-inner .carousel-item-prev {
    display: flex;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #featureContainer2 .card img {
        width: 120vh !important;
        height: 15vh !important;
    }
}


/* medium and up screens */

@media (min-width: 768px) {
    #featureContainer2 .carousel-inner .carousel-item-end.active,
    #featureContainer2 .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    #featureContainer2 .carousel-inner .carousel-item-start.active,
    #featureContainer2 .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
    #featureContainer2 .card img {
        width: 120vh;
        height: 35vh;
    }
    #featureContainer2 .carousel-item {
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    #featureContainer2 .card img {
        width: 100%;
        height: 100%;
    }
}

#featureContainer2 .carousel-inner .carousel-item-end,
#featureContainer2 .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

#featureContainer2 .card {
    border: 0;
}

#featureContainer2 .card {
    position: relative;
}

#featureContainer2 .card .card-img-overlays {
    position: absolute;
    bottom: 15%;
    left: 0%;
}

#featureContainer2 a {
    text-decoration: none;
}

#featureContainer2 .indicator {
    /* border: 1px solid rgb(202, 202, 202); */
    padding: 3px 6px 3px 6px;
}

#featureContainer2 .indicator:hover {
    background-color: blue;
    border: 1px solid blue;
    transition: 200ms;
}

#featureContainer2 .indicator:hover {
    color: white;
    transition: 200ms;
}

#featureContainer2 .indicator {
    color: lightgray;
}

#featureContainer2 .float-end {
    padding-top: 10px;
}


/* #featureContainer2 .container {
    position: relative;
    width: 80%;
}

#featureContainer2 .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

#featureContainer2.container:hover .overlay {
    bottom: 0;
    height: 100%;
} */


/* --------carousel3--------------------------- */

@media (max-width: 767px) {
    #featureContainer3 .carousel-inner .carousel-item>div {
        display: none;
    }
    #featureContainer3 .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

#featureContainer3 .carousel-inner .carousel-item.active,
#featureContainer3 .carousel-inner .carousel-item-next,
#featureContainer3 .carousel-inner .carousel-item-prev {
    display: flex;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #featureContainer3 .card img {
        width: 80vh !important;
        height: 17vh !important;
    }
}


/* medium and up screens */

@media (min-width: 768px) {
    #featureContainer3.carousel-inner .carousel-item-end.active,
    #featureContainer3 .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    #featureContainer3 .carousel-inner .carousel-item-start.active,
    #featureContainer3 .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
    #featureContainer3 .card img {
        width: 80vh;
        height: 40vh;
    }
    #featureContainer3 .carousel-item {
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    #featureContainer3 .card img {
        width: 100%;
        height: 100%;
    }
}

#featureContainer3 .carousel-inner .carousel-item-end,
#featureContainer3 .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

#featureContainer3 .card {
    border: 0;
}

#featureContainer3 .card {
    position: relative;
}

#featureContainer3 .card .card-img-overlays {
    position: absolute;
    bottom: 15%;
    left: 0%;
}

#featureContainer3 a {
    text-decoration: none;
}

#featureContainer3 .indicator {
    border: 1px solid rgb(202, 202, 202);
    padding: 3px 6px 3px 6px;
}

#featureContainer3 .indicator:hover {
    background-color: blue;
    border: 1px solid blue;
    transition: 200ms;
}

#featureContainer3 .indicator:hover {
    color: white;
    transition: 200ms;
}

#featureContainer3 .indicator {
    color: lightgray;
}

#featureContainer3 .float-end {
    padding-top: 0px;
}